/* CSS DOCUMENT */

@import url("cpclasses-current.css");

@media screen and (prefers-color-scheme: dark) {

	html, body {
		background: #181a1b;	
		color: #bababa;
	}
	
	
	h1 {
			color: #363636;		
			background: #ccc;
	}
	

	
}

