/* CSS DOCUMENT */

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
}


:root {
	--text-font: bio-sans, sans-serif;
	--text-regular: 400;
	--text-bold: 600;
	--code-font: input-serif, monospace;
	--code-weight: 300;
	--bg-color: #fafafa; 
	--bg-color-alpha: #fafafa00;
	--bg-gradient: linear-gradient(var(--bg-color) 75%, var(--bg-color-alpha));
	--type-color: #555; 
	--bold-type-color: #222; 
	--italic-type-color: #444; 
	--link-color: #383;
	--hover-color: #3b3;
	--underline: 1px #557d76 dotted;
	--code-color: #557d76;
	--hr-border: 1px solid #ccc;
	--journal-border: 4px solid #ccc;
	--rubric-border-thick: 4px #222  solid;
	--rubric-border-thin: 1px #666 solid;
	--rubric-border-dotted: 1px #666 dotted;
	--strike: #a55;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--bg-color: #363636; 
		--bg-color-alpha: #36363600;
		--type-color:  #bababa;   
		--bold-type-color:  #fafafa;  
		--italic-type-color: #ccc; 
		--link-color: #3b3;
		--hover-color: #6f6;
		--underline: 1px #557d76 dotted;
		--code-color: #85bd96;
		--hr-border: 1px solid #ccc;
		--rubric-border-thick: 3px #ccc  solid;
	}
}



body {
		background: var(--bg-color);
		color: var(--type-color);
		font-size: 1.2em;
		max-width: 36em;
		margin: 0 2em;
		padding-bottom: 10em;
		line-height: 1.6em;
		font-family: var(--text-font);
		font-weight: var(--text-regular);
		min-height: calc(100vh - 14em);
		position: relative;
}


a {
		color: var(--link-color);
		text-decoration: none;
		border-bottom: var(--underline);
}

a:hover {
		color: var(--hover-color);
}

em {	
	    font-style: italic;
		color: var(--italic-type-color);
}

strong, h1, h2, h3, h4 {
		font-weight: var(--text-bold);
		color: var(--bold-type-color);
}

p, li {
		margin-bottom:1em;
		text-wrap: pretty;
}

ul li {
		list-style-type: none;
}


h1, h2, h3, h4 {
		padding-top: 1rem;
		padding-bottom:1em;
}

h1 {
		max-width:20em;
		margin-bottom:1em;
		font-size: 1.6em;
		line-height: 1.3em;
}

h2 {
		font-size: 1.3em;
		position: sticky;
		top: 0;
		margin-left: -1.5em;
		padding-left: 1.5em;
		background-image: var(--bg-gradient);
		 z-index: 1;
}

h3 {
		font-size: 1.1em;
		position: sticky;
		top: 2.5em;
		margin-left: -1.5em;
		padding-left: 1.5em;
		padding-bottom: 2em;
		background-image: var(--bg-gradient);
}



hr {
		margin-top: 3em;
		margin-bottom: 1em;
		border: var(--hr-border);
}

code {
		color: var(--code-color);
		font-size: .95em;
		padding: 0 0.1em;
		font-family: var(--code-font);
		font-weight: var(--code-weight);
		letter-spacing: 0.03em;
}

del code, strike code{
		color: var(--strike);
		font-style: italic;
}

footer {
	position: absolute;
	bottom: 0
}


nav.classheader a, nav.breadcrumb p a {
		font-size: 1rem;
		border: none;
}

p.lastupdate, p.disclaimer {
		font-size: 0.75em;
		line-height:2em;
		margin-top: 1em;
		color: var(--type-color);
		max-width:48em;
}

p.lastupdate {
		  margin-top: 4rem;
}

p.disclaimer {
		  font-style: italic;
}

p.classjournal {
		padding-left: 1em;
		max-width: 33em;
		border-left: var(--journal-border);
}


blockquote.classjournal p, blockquote.insidejournal p, blockquote.classjournal p strong {
		font-style: italic;
}


section.rubric {
  	box-sizing: border-box;
	margin: 4em 0 2em;
}

section.rubric h3 {
		padding-bottom: 0;
		background: var(--bg-color);
}

section.rubric h3 span{
	display: block;
	border-top: var(--rubric-border-thick);
	border-bottom: var(--rubric-border-thick);
	padding-bottom: 0;
}


section.rubric ul li {
		margin: 0 0 .5rem;
		padding: 0;
		border-bottom: var(--rubric-border-thick);
}

section.rubric ul li:nth-of-type(1) {
		border-top: 0;
}


section.rubric ul li h4 {
	padding: 0;
}

section.rubric ul li p.totalpoints {
		padding: 0.2rem 0.5rem 0 0;
		border-bottom: var(--rubric-border-thin);
		color: #999;
		line-height: 1.4em;
		font-weight: var(--text-bold);
}


section.rubric ul li ul {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 0.5rem;
		border-top: var(--rubric-border-dotted);
}

section.rubric ul li ul li {
		text-transform: uppercase;
		font-size: 0.7rem;
		margin:  0;
		padding: 0.3rem 0.2rem 0.3rem 0;
		line-height: 1em;
		box-sizing: border-box;
		letter-spacing: 0.06em;
		border-right: var(--rubric-border-dotted);
		border-top: 0;
		border-bottom: 0;
}

section.rubric ul li ul li:nth-last-of-type(1) {
	border-right: 0;
}


section.rubric ul li ul li strong{
	margin-bottom: 0.2rem;
	display: block;
}


 
ul.schedule li h3 {  
		font-size: 0.8em;
		font-weight: var(--text-regular);
		color: var(--bold-type-color);
		text-transform: uppercase;
		margin: 2em 0 1em 0;
		line-height: 1.0em;
		position: relative;
		float: left;
		border-top: var(--rubric-border-thick);
		border-bottom: var(--rubric-border-thick);
		padding: 0.2em 0;
}

ul.schedule li p {  
	clear: both;
	margin-bottom: 1em;
}


img.screenshot-desktop {
		margin-left: -4.6%;
		width: 103.5%;
}


img.screenshot-mobile {
	margin-left: -6%
}



@media only screen and (min-width: 40em) {

			body {
					margin: 2em auto;
					padding-left: 2em;
					padding-right: 2em;
			}

			section.rubric ul li {
					display: grid;
					grid-template-columns: auto 13rem;
					grid-template-rows: auto auto;
					margin: 0 0 0.3rem;
					padding: 0 0 1em;
			}



			section.rubric ul li h4 {
					margin: 0;
					padding: 0.5rem 0;
					grid-column: 1/2; 
					border-bottom: var(--rubric-border-thin);
			}


			section.rubric ul li p {
					padding: 0rem 1.2rem 0 0;
			}

			section.rubric ul li p.totalpoints {
					margin: 0;
					padding: 0.5rem 0;
					grid-column: 2/3; 
					border-bottom: var(--rubric-border-thin);
			}

			
			section.rubric ul li ul {
					display: block;
					border-top: 0;
			}


			section.rubric ul li ul li {
					display: block;
					width: 100%;
					margin-bottom: 0.1rem;
					border-bottom: 1px #666 dotted;
					border-right:0;
			}
			
			section.rubric ul li ul li strong{
				min-width: 4em;
				display: inline-block;
			}


}

