/*CSS Document*/

body {
	font-family: sans-serif;
	background: #eee;
	color: #111;
	line-height: 1.4em;
}

img {
	width: 100%;
}

a {
	color: #118;
	text-decoration: none;
	border-bottom: 1px #118 dotted;
}

div.container {
	max-width: 36em;
	margin: auto;
}

h2, h3 {
	margin-top: 2em;
}


ul {
	padding: 0;
}

ul li {
	list-style-type: none;
}